.contact-info {
    text-align: center; 
}

.contact-icons {
    width: 40% !important;
}

.cv {
    width: 150%;
    height: 80vh;
}

.contact-button {
    background-color: #FAF9F6 !important;
}

/* .contact-form {
    display: flex;
    flex-direction: column;
} */