.contact-info {
    text-align: center; 
}

/* .contact-icons {
    width: 40% !important;
} */

.cv {
    width: 150%;
    height: 80vh;
}

.contact-button {
    background-color: #FAF9F6 !important;
}

.fa-icon {
    font-size: 150px;
    color: #717171;
}