.nav-tabs {
    position: absolute;
    top: clamp(10px, 10%, 20px);
    right: clamp(10px, 10%, 160px);
    border: none !important;
    width: clamp(30%, 40%, 100%);
  }
  
  .nav-item {
    width: clamp(10%, 25%, 33%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .nav-link {
    border: none !important;
  }
  
  .nav-link.active {
    border: clamp(1px, 0.5vw, 2px) solid black !important;
    border-radius: clamp(25px, 2.5vw, 50px) !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px clamp(5px, 2.5vw, 22px) clamp(15px, 7.5vw, 70px) clamp(2px, 1vw, 4px) !important;
  }
  
  @media (max-width: 1000px) {
    .nav-link.active {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
  
  @media (max-width: 800px) {
    .nav-link.active {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .nav-tabs {
      width: clamp(40%, 50%, 100%);
    }
  }
  
  @media (max-width: 590px) {
    .nav-link.active {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .nav-tabs {
      width: clamp(35%, 50%, 100%);
    }
    .nav-item {
      width: clamp(25%, 50%, 100%);
    }
    .nav-link {
      font-size: clamp(10px, 1.5vw, 14px) !important;
    }
  }
  
  .nav-link:hover {
    background-color: none;
    text-decoration: none;
  }
  
  .nav-link a {
    text-decoration: none;
  }
  