/* :root {
    --title-font-size: clamp(2rem, 5vw, 5rem);
  }
  
  @media (max-width: 768px) {
    :root {
      --title-font-size: clamp(1.5rem, 4vw, 3rem);
    }
  }
  
  @media (max-width: 576px) {
    :root {
      --title-font-size: clamp(1.25rem, 3vw, 2rem);
    }
  } */

.title {
    
    font-size: clamp(16px, 5vw, 60px);
    text-align: left;
    position: relative;
    top: 10px;
    left: 5%;


}

  .title-div {
    height: 80px;
    width: 40%;
  }