body {
    margin: 0;
    padding: 0;
    
}

#root {
    background-color: yellow !important;
    width: 100vw !important;
}

.theme-switch{
    position: fixed;
    top: 30px;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
}

header {
    height: 80px !important;
}

@media (max-width: 1000px) {
    .theme-switch {
        display: none;
    }
}







