body {
    margin: 0;
    padding: 0;
}

.theme-switch{
    position: fixed;
    top: 4%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
}

header {
    height: 60px !important;
}



